@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #2f4f4f;
  --primary: #000080;
  --urgent: #cc3333;
}

.dark {
  --background: #333333;
  --foreground: #f4f4f5;
  --primary: #4a90e2;
  --urgent: #e74c3c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-urgent: var(--urgent);
  --font-sans: var(--font-cairo), var(--font-geist-sans), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
